body {
    height: auto;
    width: clamp(350px, 30vw, 1000px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border: 1vh black solid;
    border-radius: 3vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

#chibi-cat{
    height: 25vh;
    width: clamp(220px, 20vh, 830px);
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#input-field{
    height:6vh;
    width:clamp(230px, 20vw, 660px);
    margin-bottom: 3vh;
    border-radius: 1vh;
    font-size: 3vh;
    text-align: center;
    font-family: inherit;
}

#add-button{
    height:7vh;
    width:clamp(230px, 20vw, 660px);
    border-radius: 1vh;
    font-size: 3vh;
    font-family: inherit;
    margin-bottom: 3vh;
    background-color: rgb(199, 194, 194);
}

#add-button:hover{
    background-color: rgb(243, 115, 106);
}

#shopping-list{
    width:clamp(230px, 25vw, 660px); 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1vh;
    margin-right: 5vh;
}

li {
    font-size: 3vh;
    background-color: rgb(199, 194, 194);
    list-style: none;
    padding: 1vh;
    border: 0.3vh black solid;
    border-radius: 1vh;
    flex-grow: 1;
    text-align: center;
}

li:hover{
    background-color: rgb(240, 233, 99);
}

p{
    text-align: center;
}